
        <section class="intro" >
            <header>
                <img src="/assets/img/ivyfulltsp.png" alt="">
                <p class="theWhiteColor">Projects Page</p>
                <ul class="actions">
                    <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
                </ul>
            </header>
            <div class="content" >
                <span class="image fill" data-position="center"><img src="/assets/img/pic01.jpg" alt="" /></span>
            </div>
        </section>
   




