<section>
    <!-- VVV Each Main section has one of these -->
    <header>
        <h2 class="theWhiteColor">Ultrices erat magna sed condimentum</h2>
    </header>
    <div class="content">
        <p><strong>Integer mollis egestas</strong> nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>

        <!-- Subsection with Side H gallery -->
            <section>
                <header>
                    <h3 class="theWhiteColor">Erat aliquam</h3>
                    <p class="theWhiteColor">Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt  ipsum suspendisse ultrices gravida.</p>
                </header>
                <div class="content">
                    <div class="gallery">
                        <a href="/assets/img/01.jpg" class="landscape"><img src="/assets/img/01.jpg" alt="" /></a>
                        <a href="/assets/img/02.jpg"><img src="/assets/img/02.jpg" alt="" /></a>
                        <a href="/assets/img/03.jpg"><img src="/assets/img/03.jpg" alt="" /></a>
                        <a href="/assets/img/04.jpg" class="landscape"><img src="/assets/img/04.jpg" alt="" /></a>
                    </div>
                </div>
            </section>

        <!-- T Gallery -->
            <section>
                <header>
                    <h3 class="theWhiteColor">Nisl consequat</h3>
                    <p class="theWhiteColor">Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam sed facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet mauris. Ut magna finibus nisi nec lacinia ipsum maximus.</p>
                </header>
                <div class="content">
                    <div class="gallery">
                        <a href="/assets/img/05.jpg" class="landscape"><img src="/assets/img/05.jpg" alt="" /></a>
                        <a href="/assets/img/06.jpg"><img src="/assets/img/06.jpg" alt="" /></a>
                        <a href="/assets/img/07.jpg"><img src="/assets/img/07.jpg" alt="" /></a>
                    </div>
                </div>
            </section>

        <!-- Upside down T Gallery -->
            <section>
                <header>
                    <h3 class="theWhiteColor">Lorem gravida</h3>
                    <p class="theWhiteColor">Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aenean ornare velit lacus, ac varius sed enim lorem ullamcorper dolore.  ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis.</p>
                </header>
                <div class="content">
                    <div class="gallery">
                        <a href="/assets/img/08.jpg" class="portrait"><img src="/assets/img/08.jpg" alt="" /></a>
                        <a href="/assets/img/09.jpg" class="portrait"><img src="/assets/img/09.jpg" alt="" /></a>
                        <a href="/assets/img/10.jpg" class="landscape"><img src="/assets/img/10.jpg" alt="" /></a>
                    </div>
                </div>
            </section>

    </div>
</section>