

.clear-formatting{
    text-decoration: none;
}
.force-center{
    text-align: center;
}
.contact-text{
    padding: 1em;
}
.contact-holder{
    display: inline-block;
    padding: 0em 0em;
    text-align: center;
    margin-bottom: 0 !important;
    text-decoration: none;
    width: 100%;
}

.namePreset{
    text-decoration: none;
    display: block;
    background: #191919;
    color: #f2f2f2;
    padding: 1em;
}

.ig-box:hover{
    background: linear-gradient(30deg, #515bd4, #8134af, #dd2a7b, #feda77,#f58529);
    text-decoration: none;
    animation: IGani;
    animation-duration: .5s;
    animation-delay: .5;
}
@keyframes IGani{
    0%{opacity:0; background: #191919;}
    100%{opacity:1; background: linear-gradient(70deg, #515bd4, #8134af, #dd2a7b, #feda77,#f58529);
    }
}

.ln-box:hover{
    background: linear-gradient(50deg,#f2f2f2,#0077b5,#0077b5);
    text-decoration: none;
    animation: LNani;
    animation-duration: .5s;
    animation-delay: .5;
}
@keyframes LNani{
    0%{opacity:0; background: #191919;}
    100%{opacity:1; background: linear-gradient(50deg,#f2f2f2,#0077b5,#0077b5);
    }
}

.github-box:hover{
    background: linear-gradient(50deg,#6e5494,#6e5494,#f2f2f2);
    text-decoration: none;
    animation: GITani;
    animation-duration: .5s;
    animation-delay: .5;
}
@keyframes GITani{
    0%{opacity:0; background: #191919;}
    100%{opacity:1; background: linear-gradient(50deg,#6e5494,#6e5494,#f2f2f2);
    }
}

.vcf-box:hover{
    background: linear-gradient(50deg, #D3D3AB, #213d20, #191919);
    text-decoration: none;
    animation: VCFani;
    animation-duration: .5s;
    animation-delay: .5;
}
@keyframes VCFani{
    0%{opacity:0; background: #191919;}
    100%{opacity:1; background: linear-gradient(50deg, #D3D3AB, #213d20, #191919);}
}

.yt-box:hover{
    background: linear-gradient(50deg, #191919, #FF0000, #f2f2f2);
    text-decoration: none;
    animation: YTani;
    animation-duration: .5s;
    animation-delay: .5;
}
@keyframes YTani{
    0%{opacity:0; background: #191919;}
    100%{opacity:1; background: linear-gradient(50deg, #191919, #FF0000, #f2f2f2);}
}
