
.navBarContainer {
    text-align: center;
    margin: 0;
    background: #191919
}


.navBarContainer ul
{
    display: inline-block;
    padding: 0em 2em;
    text-align: center;
}

.navBarContainer li
{
    display: inline-block;
}

.navBarContainer li a, .navBarContainer li span
{
    display: inline-block;
    padding: 1.3em 1.5em;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #f2f2f2;
}

.navBarContainer li:hover a, .navBarContainer li.active a, .navBarContainer li.active span
{
    background: #d3d3ab;
}

.navBarContainer .current_page_item a
{
    color: #d3d3ab;
}

 