body { 
    margin: 0;
    font-family: sans-serif;
    font-weight: 300;
}

.navBarContainer {
    margin: 0 auto;
}

#navBarMenu{
    background: #191919
    text-align: center;
}

#navBarMenu ul
{
    display: inline-block;
    padding: 0em 2em;
    text-align: center;
}

#navBarMenu li
{
    display: inline-block;
}

#navBarMenu li a, #navBarMenu li span
{
    display: inline-block;
    padding: 1.3em 1.5em;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #f2f2f2;
}

#navBarMenu li:hover a, #navBarMenu li.active a, #navBarMenu li.active span
{
    background: #d3d3ab;
}

#navBarMenu .current_page_item a
{
    color: #d3d3ab;
}

 