
<br>
<div class="force-center">
    <div class="contact-holder">
        <a class="clear-formatting pt-3" href="/"><div class="namePreset text-light"><img src="/assets/img/ivyfulltsp.png" alt="" width="494.25" height="217.65px"></div></a>
        <a class="clear-formatting pt-1" href="https://www.instagram.com/system.out.print.ethanjoyner/" target="https://www.instagram.com/system.out.print.ethanjoyner/"><div class="namePreset ig-box text-light"><h2 class="contact-text forceWhite">Instagram</h2></div></a>
        <a class="clear-formatting pt-1" href="https://www.linkedin.com/in/el2joyner/" target="https://www.linkedin.com/in/el2joyner/"><div class="namePreset ln-box text-light"><h2 class="contact-text forceWhite">Linkedin</h2></div></a>
        <a class="clear-formatting pt-1" href="https://github.com/EthanJoyner" target="https://github.com/EthanJoyner"><div class="namePreset github-box text-light"><h2 class="contact-text forceWhite">GitHub</h2></div></a>
        <a class="clear-formatting pt-1" href="#" target=""><div class="namePreset vcf-box text-light"><h2 class="contact-text forceWhite">.VCF</h2></div></a>
        <a class="clear-formatting pt-1" href="#" target=""><div class="namePreset yt-box text-light"><h2 class="contact-text forceWhite">YouTube</h2></div></a>
    </div>
</div>
<!-- VCF LN PFP GH IG -->
