<div class="force-center">
    <div class="contact-holder">
        <a class="clear-formatting" href="#"><div class="namePreset ig-box text-light"><h2 class="contact-text">Instagram</h2></div></a>
        <a class="clear-formatting" href="#"><div class="namePreset ln-box text-light"><h2 class="contact-text">Linkedin</h2></div></a>
        <a class="clear-formatting" href="#"><div class="namePreset github-box text-light"><h2 class="contact-text">GitHub</h2></div></a>
        <a class="clear-formatting" href="#"><div class="namePreset vcf-box text-light"><h2 class="contact-text">.VCF</h2></div></a>
        <a class="clear-formatting" href="#"><div class="namePreset yt-box text-light"><h2 class="contact-text">YouTube</h2></div></a>
    </div>
</div>
<!-- VCF LN PFP GH IG -->
