<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Animation.css">
    <title>Ivy Contacts</title>
</head>
<body>
    <div class="force-center">
        <div class="contact-holder">
            <a class="clear-formatting" href="#"><div class="namePreset ig-box"><h2 class="contact-text">Instagram</h2></div></a>
            <a class="clear-formatting" href="#"><div class="namePreset ln-box"><h2 class="contact-text">Linkedin</h2></div></a>
            <a class="clear-formatting" href="#"><div class="namePreset github-box"><h2 class="contact-text">GitHub</h2></div></a>
            <a class="clear-formatting" href="#"><div class="namePreset vcf-box"><h2 class="contact-text">.VCF</h2></div></a>
            <a class="clear-formatting" href="#"><div class="namePreset yt-box"><h2 class="contact-text">YouTube</h2></div></a>
        </div>
    </div>
</body>
</html>
<!-- VCF LN PFP GH IG -->
