<head>
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/img/Just-leaf.svg" width="201.8" height="152.4"/>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/ShiftMain.js"></script>
    <script src="assets/js/TessMain.js"></script>
    <script src="/assets/js/navbar.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179299296-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-179299296-1');
    </script>

</head>
