<!-- Third -->
<section id="third" class="main">
    <div class="content dark style3">
        <div class="container">
            <span class="image featured"><img src="/assets/img/pic07.jpg" alt="" /></span>
            <div class="row">
                <div class="col-4 col-12-narrow">
                    <h3>My work is not yet finished.</h3>
                    <p> It's just me, my little corner of the world (which also happens to be the internet at this point). If for some reason, you came across this website not knowing who I am, my name is Ethan Joyner. Born and raised in Baltimore, I am currently 19, and I am going into my college sophomore year. I attend the Community College of Baltimore County, and my major is computer engineering.</p>
                    <p>A funny thing, making a website is tedious, but creating content is the most challenging part of the site, because it's a portrayal of myself. I am grounded in who I am, but it's weird when social media constantly makes you consolidate your thoughts and ideas into a single paragraph, but now I have an entire platform to express and broadcast myself. Where to start?</p>
                </div>
                <div class="col-4 col-12-narrow">
                    <p>As a kid, the idea of building something has always intrigued me. So I joined the Lego club in 4th grade. I made whatever I wanted and loved it. As time went on, I was introduced to Lego Mindstorms, a creative robotics kit for early exposure to engineering. We all found our strong suits with building robots, and we carried our skills to high school. But of course, similar to my earlier school years, I found a way to surround myself in similar creative minds as we sketched ideas, programmed, and built robots. </p>
                    <p>I was fortunate enough to have plenty of lucky breaks in my life, which is a privilege amongst itself. From writing guess code to getting access to software and hardware that I never thought I could own. Though I can't share any of those things, the least I can do is share my knowledge and insight as to how I go about my design process. Though I am still learning my self, I may have the advantage in making and sharing the real rookie mistakes I make in my projects, sharing the how-not-to's and, of course, the alternatives.</p>
                </div>
                <div class="col-4 col-12-narrow">
                    <p>A little background as to my experience level in the things I do (Note: these are not professional, on-the-record time stamps. I do all kinds of stuff for fun, so I am not extensively trained in any of these):</p>
                    <ul>
                        <li>3D modeling (Solidworks) – 1 Year</li>
                        <li>Java – 1 year</li>
                        <li>Python – less than 1 year</li>
                        <li>HTML and CSS – less than 1 year </li>
                        <li>Graphic design (Adobe) – less than 1 year</li>
                        <li>Graphic design (General) – 1 year</li>
                        <li>Audio (Audacity and FL) – 3 years</li>
                        <li>Excel – 5 years</li>
                        <li>DaVinci Resolve - less than a year</li>
                    </ul>
                    <p>I’m looking forward to what I can do with this website. I’m not going to only show the best parts of me, that would be fake. I make as many errors and mess ups as the next person. I'm going to end up putting things that are wrong on here, but eventually I plan to learn how to do things right. Wish me luck! 
                    </p>
                    <footer>
                        <a href="#fourth" class="button scrolly">Special Thanks List</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
