<!-- Second -->
<section id="second" class="main">
    <header>
        <div class="container">
            <h2> “I feel like every project I work on is a dream project, so long as I am learning.” </h2>
            <p> ― Simeon Kondev </p>
        </div>
    </header>
    <div class="content dark style2">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-narrow">
                    <section>
                        <h3>Creating the task at hand</h3>
                        <p>Every project has a story behind it. And often time those stories have lessons behind them. When I have an idea for a product, it always stems from some issue or problem I encounter. Instead of saying, “I wish there were a tool to help me…” <br> I say: </p>

                        <h5>“I’m going to <b>make</b>make a tool to help me…” <br> and then I get to work.</h5>

                        <p>First, it all gets laid out on paper. Then I take to CAD modeling and rapid prototyping (RP). After several trials of mechanical faults, programming errors, and making the aesthetic just a little more appealing, then and only then can it start to resemble a finished product. I don’t believe products and projects can ever genuinely be complete because they can always be made better; there can still be upgrades. Maybe I can add a cup holder to it. Who knows?
                        </p>
                        <footer>
                            <a href="" class="button scrolly">See More Projects</a>
                        </footer>
                    </section>
                </div>
                <div class="col-8 col-12-narrow">
                    <div class="row">
                        <div class="col-6"><a href="#" class="image fit"><img src="/assets/img/pic01.jpg" alt="" /></a></div>
                        <div class="col-6"><a href="#" class="image fit"><img src="/assets/img/pic02.jpg" alt="" /></a></div>
                        <div class="col-6"><a href="#" class="image fit"><img src="/assets/img/pic03.jpg" alt="" /></a></div>
                        <div class="col-6"><a href="#" class="image fit"><img src="/assets/img/pic04.jpg" alt="" /></a></div>
                        <div class="col-6"><a href="#" class="image fit"><img src="/assets/img/pic05.jpg" alt="" /></a></div>
                        <div class="col-6"><a href="#" class="image fit"><img src="/assets/img/pic06.jpg" alt="" /></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>