<div id="header" class="tintingOverlay dark tessHeaderDown">
    <header>
        <img src="../assets/img/ivyfulltsp.png" width="50%" >
        <h2>Gallery Page</h2>
    </header>
</div>
<section id="second" class="main">
    <div class="content dark style2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-12-narrow">
                    
                </div>
                <br>
                <div class="">
                    <div class="row">
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal1.jpg" alt="" /></a></div>

                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal2.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal3.jpg" alt="" /></a></div>
                       
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal4.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal5.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal6.jpg" alt="" /></a></div>

                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal7.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal8.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal9.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal10.jpg" alt="" /></a></div>

                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal11.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal12.jpg" alt="" /></a></div>
                       
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal13.jpg" alt="" /></a></div>

                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal14.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal15.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal16.jpg" alt="" /></a></div>

                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal17.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal18.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal19.jpg" alt="" /></a></div>

                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal20.jpg" alt="" /></a></div>

                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal21.jpg" alt="" /></a></div>

                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal22.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal23.jpg" alt="" /></a></div>
                       
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal24.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal26.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal25.jpg" alt="" /></a></div>

                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal27.jpg" alt="" /></a></div>
                        
                        <!-- <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal28.jpg" alt="" /></a></div>
                        
                        <div class="col-4"><a href="#" class="image fit"><img src="/assets/img/Gallery Pictures/gal29.jpg" alt="" /></a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>