<section id="first" class="main">
    <header>
        <div class="container">
            <h2>ivy107 is my project home </h2>
            <p>I diverse myself in the activities and projects I take part of. However, I often find thats is hard to put what I can do on a resume...  <br>
                 So I built a website.</p>
        </div>
    </header>
    <div class="content dark style1 featured">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-narrow">
                    <section>
                        <!-- <img src="/assets/img/ivyfullsvg.svg" alt="" width="200" height="100"> -->
                        <header>
                            <h3>Programming</h3>
                        </header>
                        <p>Applying the programming skills I learn to something tangible is key for me. Otherwise, I  will dismiss it; just as we all dismissed indigenous rocks in elelmentary school (No offense to archeologists). I primarily program in <b>Python</b>, <b>Java</b>, and soon, <b>C</b>. </p>
                    </section>
                </div>
                
                <div class="col-4 col-12-narrow">
                    <section>
                        
                        <header>
                            <h3>Leadership</h3>
                        </header>
                        <p>To lead for control is not my philosophy. To be a leader is to actively distinguish yourself to show you are willing to go the extra mile for the team. Whether I’m leading a <b>social justice</b> event or a <b>lab project</b>, I make sure that quality is implemented throughout every task at hand.</p>
                    </section>
                </div>
                <div class="col-4 col-12-narrow">
                    <section>
                        
                        <header>
                            <h3>Engineering</h3>
                        </header>
                        <p>For me, engineering is to design art with more than a visual appeal, engineering takes an issue at face value, and solves it while maintaining stylistic aesthetic and mechanical functionality. I model my designs in <b>Solidworks</b>.
                        </p>
                    </section>
                </div>
                <div class="col-12">
                    <footer>
                        <hr>
                        <a href="/aboutme/" class="button scrolly">Learn More</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>