<div class="progressBarStuff">
  <div class="skill-bars">
    <!-- python -->
    <div class="bar">
      <div class="info">
        <span>Python</span>
      </div>
      <div class="progress-line python">
        <span></span>
      </div>
    </div>
    <!-- 3d-modeling -->
    <div class="bar">
      <div class="info">
        <span>3D Modeling (SolidWorks) </span>
      </div>
      <div class="progress-line modeling">
        <span></span>
      </div>
    </div>
    <!-- html-css-js -->
    <div class="bar">
      <div class="info">
        <span>HTML/CSS/JS</span>
      </div>
      <div class="progress-line html-css-js">
        <span></span>
      </div>
    </div>
    <!-- java -->
    <div class="bar">
      <div class="info">
        <span>Java</span>
      </div>
      <div class="progress-line java">
        <span></span>
      </div>
    </div>
    <!-- graphic-design -->
    <div class="bar">
      <div class="info">
        <span>Graphic Design w/Adobe</span>
      </div>
      <div class="progress-line graphic-design">
        <span></span>
      </div>
    </div>
    <!-- excel -->
    <div class="bar">
      <div class="info">
        <span>Excel</span>
      </div>
      <div class="progress-line excel">
        <span></span>
      </div>
    </div>
</div>
  

