
        <section id="first">
            <header>
                <h2 class="theWhiteColor">Automated Conditional Emailing Through Google Forms (Project ACE) August 2020</h2>
            </header>
            <div class="content">
                <p><strong>Project ACE</strong> was a programing project I did for a volunteering organization that paired potential volunteers with a place to donate their time. But the catch is that I had to streamline a process into their existing system... Google Forms.</p>
                <a href="/projectACE/"><span class="image main"><img src="/assets/img/ACE1.jpeg" alt="" /></span></a>
            </div>
        </section> 