<br>
<div class="force-center">
    <div class="contact-holder">
        <a class="clear-formatting pt-1" href="https://www.vmware.com/products/workstation-player.html" target="https://www.vmware.com/products/workstation-player.html"><div class="namePreset ig-box text-light"><h2 class="contact-text forceWhite">Install VM </h2></div></a>
        
        <a class="clear-formatting pt-1" href="https://ubuntu.com/download/desktop" target="https://ubuntu.com/download/desktop"><div class="namePreset ln-box text-light"><h2 class="contact-text forceWhite">Download Ubuntu</h2></div></a>
        
        <a class="clear-formatting pt-1" href="https://www.tecmint.com/install-arduino-ide-on-linux/" target="https://www.tecmint.com/install-arduino-ide-on-linux/"><div class="namePreset github-box text-light"><h2 class="contact-text forceWhite">Install Arduino IDE </h2></div></a>
    </div>
</div>