<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You List Test</title>
    <link rel="stylesheet" href="/thankYou.css">
</head>
<body class="bodyCenter">
   <div class="listOfNames">
       <div class="namePreset FAM"><h1>I have the Lords blessing to have the worlds best parents! Love ya guys!</h1></div>

       <div class="namePreset AMT"><h3>Sharon Brackett</h1></div><!--AMT-->

       <div class="namePreset AT"><h3>Michael Ochs</h1></div><!--AT-->

       <div class="namePreset AT"><h3>Nathaniel Larimore</h1></div><!--AT-->

       <div class="namePreset AM"><h3>Jayesh Jariwala</h1></div><!--AM-->

       <div class="namePreset A"><h3>Kim Loper</h1></div><!--A-->

       <div class="namePreset MT"><h3>Tyler Lee</h1></div><!--MT-->

       <div class="namePreset AM"><h3>Maurice Bowden</h1></div><!--AM-->

       <div class="namePreset A"><h3>Malissa Rivera</h1></div><!--A-->

       <div class="namePreset MT"><h3>Bruce Laws</h1></div><!--MT-->

       <div class="namePreset A"><h3>Jeffery Wright</h1></div><!--A-->
   </div>
</body>
</html>

<!-- 
A M T
M T
A T 
A M 
A
M 
T  -->
